<div id="sidebarTemplate">
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-light " style="background-color: #4169e1;" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">

        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          Calendar-Group
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/calendar/group">Groups</a>
            <a class="nav-link" href="/calendar/group/register">Group Register</a>
          </nav>
        </div>

      </div>
    </div>

  </nav>
</div>
</div>